h2 {
  color: black;
  text-align: center;
  font-weight: lighter;
  font-size: 24px;
  margin: 100px 0 50px 0;
}

.samples img {
  border: solid 1px black;
}

.works {
  /* margin: 0 20%; */
  text-align: center;
  

}

.samples {
  display: inline-block;
  align-items: center;
}

footer {
  position: static;
}